.App {
  text-align: center;
}

.apptitle {
  font-family: "Pacifico", cursive;
  color: yellowgreen;
}

.todo-button {
  background-color: black;
  height: 55px;
}

.speacer {
  width: 10px;
  height: 50px;
}

.form {
  display: inline-flex;
}

.list{
  background-color: whitesmoke;
}

